.animated-button {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  background-color: black;
  border: 2px solid hsl(175, 100%, 50%);
  color: hsl(175, 100%, 50%);
}

.button-div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
}

.card {
  width: 150px;
  height: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  cursor: grab;
}

.alert {
  width: 400px;
  height: 50px;
  background-color: rgb(210, 51, 51);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.25rem;
  border: 1px solid rgb(255, 255, 255);
}

.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.alert-toggle {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: black;
  border: 2px solid hsl(175, 100%, 50%);
  color: hsl(175, 100%, 50%);
}

.step-container {
  display: flex;
  flex-direction: column;
}

.step-container button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 0.8rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
}

.step-card {
  width: 100px;
  height: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 10px;
}

.list-item {
  min-width: fit-content;
  padding: 10px 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.list {
  margin-top: 50px;
  bottom: 0;
}